* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  
  h1 {
    margin: 30px 0;
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
  }
  
  .game {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  .row {
    display: flex;
  }
  
  .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 5px;
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .cell:hover {
    transform: scale(1.1);
  }
  
  .cell.x {
    color: #f44336;
  }
  
  .cell.o {
    color: #2196f3;
  }
  .game-over-message {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 1rem 0;
  }
  
  .game-over-message.x-wins {
    color: #00bfff;
  }
  
  .game-over-message.o-wins {
    color: #ff69b4;
  }
  .btn {
    display: inline-block;
    padding: 12px 24px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    background-color: #3498db;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  }
  
  .btn:hover {
    background-color: #2980b9;
    transform: translateY(-2px);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
  }
  
  
  .fadeIn {
    animation: fadeIn 0.5s ease-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fadeOut {
    animation: fadeOut 0.5s ease-in;
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  
  
  .controls {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }